import React from 'react';

interface I<%- CameName %>Props{}

const <%- CameName %> :React.FC<I<%- CameName %>Props> = () => {
  return (
    <div className="<%- name %>">
      This is  <%- CameName %>
    </div>
  );
}
export default <%- CameName %>